# アプリ概要
名称: CocoroAIGUI
概要: UnityアプリとWebSocketで連携し、チャットUI、設定変更を提供する外部アプリケーション
技術: .NET8, WPF, WebSocket

# 機能
## チャット
 - バブルデザイン
 - モダンな色使い
 - WebSocket(JSON形式)でUnity側アプリと通信
 - ユーザの入力をWebSocketでUnityアプリの送信
 - Unityアプリからの応答を表示

## 設定
 - ユーザが設定変更するためのGUI
 - 値はWebSocketでUnityアプリと送受信する(ファイルアクセスしない)

## 開発上の注意点
 - APIは ExternalAPI_Specification.txt を参照する
